<p id="notice"><%= notice %></p>












<p>incident["disposition"]</p>
<p>incident["penalty_amount"]</p>
<p>incident["date_year"]</p>
<p>incident["enforcement_agency"]</p>
<p>incident["instance"]</p>
<p>incident["synopsis"]</p>
<p>incident["url"]</p>
<p>incident["contracting_party"]</p>
<p>incident["misconduct_type"]</p>
<p>incident["court_type"]</p>

<%= link_to 'Back', contractors_path %>
