$green: #2e632e;
$white: #ffffff;
$grey-blue: #808aa3;
$steel-blue: #333e50;
$black: #000000;
$dark-red: #9e1000;
$med-red: #cb1800;
$off-white: #f4ffe5;
$med-blue: #4c52ab;
$dark-blue: #323c82;

// Dirty Money Pallete

// $l-green: #6ebf84;
$l-green: #1c733a;
$d-green: #074a28;
$dm-black: #242621;
$dm-grey: #727367;
$dm-white: #d8d7c4;

// Web Grays

$gray-1: #fcfcfc;
$gray-2: #f1f1f1;
$gray-3: #dddddd;
$gray-4: #c6c6c6;
$gray-5: #474747;
