.footer-bottom {
  background: $d-green;
  padding: 14px 0 10px;
  height: 10em;
}
.footer-bottom .design-border {
  border-bottom: 1px solid #484848;
  padding-bottom: 5px;
  margin-bottom: 5px;
}


