.top-bar {
  width: 100%;
  height: 5em;
  background-color: $dm-black;

}

.top-bar-section {
  width: 80%;
}

.right {
  color: #d8d7c4;
}

.nav-button {
  height: 4.8em;
  width: 7em;
  padding-right: 10%;
  background-color: red;
  padding-right: 10px;
}

.right {
  margin-right: 10%;
}

#white-logo {
  margin-left: 5%;
  position: absolute;
}

.top-bar .top-bar-section .button-group .button {
  background-color: $dm-black;
  width: 16em;
  height: 72px;
  padding-top: 30px;

}

.top-bar .top-bar-section .button-group {
  margin-left: 25%;
  position: absolute;
}

.top-bar .top-bar-section .button-group a {
  background-color: $dm-black;
  font-size: 15px;

}

