.top-bar {
  width: 100%;
  height: 5em;
  background-color: $dm-black;

}

.top-bar-section {
  width: 80%;
}

.nav-button {
  height: 4.8em;
  width: 7em;
  padding-right: 10%;
  background-color: $dm-black;
  padding-right: 10px;
}

.right {
  margin-right: 10%;
}



