#table-container {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

#bio-photo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid black;
  width: 100px;
  height: 124px;
}

.tabs {
  width: 60%;
  float: right;
  margin-right: 22.3%;
}

.row.full-width {
  width: 100%;
  max-width: 100%;
}

#pol-name {
  font-size: 24px;
  margin: 0 auto;
}

#name-container {
  margin: 0 auto;
  text-align: center;
}
