@font-face{
  font-family: 'ClearSans';
  src: url('ClearSans.eot');
  src: url('ClearSans.eot?iefix') format('eot'),
       url('ClearSans.woff') format('woff'),
       url('ClearSans.ttf') format('truetype'),
       url('ClearSans.svg#webfont') format('svg');
}
