// Place all the styles related to the politicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$green: #2e632e;
$white: #ffffff;
$grey-blue: #808aa3;
$steel-blue: #333e50;
$black: #000000;
$dark-red: #9e1000;
$med-red: #cb1800;
$off-white: #f4ffe5;
$med-blue: #4c52ab;
$dark-blue: #323c82;
